* {
	margin: 0;
	padding: 0;
}

/* CSS Document */
body{
      padding:0px;
      margin:0px; 
      background:#071e24; 
      color:#fff; 
      font-size: 62.5%; 
      font-family: Helvetica, sans-serif;
    }
    
header-0{
      padding:0px;
      margin:0px; 
      background:#071e24; 
      color:#fff; 
      font-size: 62.5%; 
      font-family: Helvetica, sans-serif;
    }

header-1{
      padding:0px;
      margin:0px; 
      background:#071e24; 
      color:#fff; 
      font-size: 62.5%; 
      font-family: Helvetica, sans-serif;
    }


container{
      padding:0px;
      margin:0px; 
      background:#071e24; 
      color:#fff; 
      font-size: 62.5%; 
      font-family: Helvetica, sans-serif;
    }

footer-1{
      padding:0px;
      margin:0px; 
      background:#071e24; 
      color:#fff; 
      font-size: 62.5%; 
      font-family: Helvetica, sans-serif;
    }

footer-0{
      padding:0px;
      margin:0px; 
      background:#071e24; 
      color:#fff; 
      font-size: 62.5%; 
      font-family: Helvetica, sans-serif;
    }

